.dashboard {
  position: fixed;
  background: #1a1a40;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
}

.dashboard .logo {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.dashboard .logo img {
  max-width: 100%;
  max-height: 100%;
}
